include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .welcome
        section.hero
          .container.container__hero
            heder.heder 
              .heder__logo
                .logo СД
              .heder__menu
                nav.nav
                  -var menu = ['Главная', 'Обо мне', 'Навыки', 'Работы', 'Отзывы', 'Связатся'];
                  ul.nav__list
                    each item in menu
                      li.nav__item
                        a(href='#').nav__link=item
              .heder__socials
                -var icons = ['insta', 'vk', 'github'];
                ul.socials__list
                  each icon in icons
                    li.socials__item
                      a(href='#').socials__link
                        +icon(`${icon}`, 'socials__icon')
            .hero__content
              .preview
                .preview__desc
                  p.preview__desc-text Личный сайт 
                  p.preview__desc-text веб-разработчика
                h1.preview__username Стерлин 
                h1.preview__username Дмитрий
            .hero__scroll.scroll__btn
              a(href='#').scroll__btn-text Скролл
              +icon('scroll', 'scroll__btn-icon')
        section.about
          .container.about__container
            .about-left
              .user.about__left-user
                .user__avatar.avatar
                  +image("content/user.jpg", "avatar__pic")
                ul.user__desc
                  - 
                    var items = [
                      ['Проживаю', 'Воронеж'],
                      ['Возраст', '34'],
                      ['Родился', '25 февраля 1986'],
                    ]
                  each item in items
                    li.user__desc-item
                      span.user__key #{item[0]}
                      span.user__value #{item[1]}
            .about-right
              h4.about__prolog Привет, меня зовут
              h2.about__title.title Дмитрий Стерлин
              .about__text
                p Я занимаюсь разработкой современных сайтов и приложений.
                p Мне нравится делать интересные и современные проекты.
              .about__ps Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftShool. Чуть позже я освежу в нем свой контент. А пока посмотрите, как тут все классно и красиво!
        .triangles.triangles--section
          svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangles__item.arrow
            polygon(points="0,0 0,100 1000,100")
          svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangles__item.arrow
            polygon(points="1000,0 1000,100 0,100")
      section.skills(id="skills")
        .container.skills-container
          .skills__decor
            +image('content/bag.jpg', 'skills__decor-pic')
          .skills__content
            .skills__desc
              h2.skills__desc-title Чем я могу быть полезен вам
              .skills__desc-text
                p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
            .skills__values
              .skills__values-container
                ul.skills__list
                  - 
                    var skills = [
                      ['Front-end', ['HTML5', 'CSS3', 'Javascript', 'Jquery, Vue.js']],
                      ['Workflow', ['GIT', 'Terminal', 'Gulp', 'Webpack']],
                    ]
                  each item in skills 
                    li.skills__row
                      .skills__row-items
                        h3.skills__row-title #{item[0]}
                        ul.skills__row-list
                          each skill in item[1]
                            li.skills__row-item
                              .skill
                                svg(viewBox="0 0 100 100").skill__shape
                                  circle(r="40" cx="50" cy="50").skill__circle.skill__circle--under
                                  circle(r="40" cx="50" cy="50" stroke="url(#gradient)").skill__circle.skill__circle--above
                                    .skill__title #{skill}
                  svg(style="width: 0;height: 0;")
                    lineargradient(id="gradient" x1="0%" y1="0%" x2="100%" y2="0")
                      stop(offset="0%" stop-color="#9300e8")
                      stop(offset="100%" stop-color="#4a00ed")
      section.work
        .container
          h2.title.work__title Мои работы
          .work__content
            .work__slider
              .slider
                .slider__wrap.work__slider-wrap
                  ul.slider__list
                    - var previews = ['work1', 'work2', 'work3', 'work4']
                    each preview in previews
                      li.slider__item(class = preview == 'work1' ? 'active' : '')
                        button(type='button').slider__btn
                          +image(`content/work/${preview}.jpg`, "slider__btn-img")
                  .work__slider-buttons.slider__arrow
                    button(type="button").slider__arrow-btn.slider__arrow-btn--prev
                      +icon('arrow-down', 'slider__arrow-icon')
                    button(type="button").slider__arrow-btn.slider__arrow-btn--next
                      +icon('arrow-down', 'slider__arrow-icon')
              .slider__card
                .card
                  ul.card__list
                    -var techno = ['js', 'html', 'css']
                    each item in techno
                      li.card__item
                        .card__item-tag=item
                  h3.card__title Сайт школы образования
                  .card__description Этот парень проходил обучение веб-разработке не где-то, а в LoftShool! 2 месяца только самых тяжелых испытаний и бессоных ночей!
                  .card__btn
                    a.card__btn-link(href='#') Посмотреть сайт
      .main
        .triangles.triangles--rotate
          svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangles__item.arrow
            polygon(points="1000,0 1000,100 0,100")
          svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangles__item.arrow
            polygon(points="0,0 0,100 1000,100")
        section.review
          .container
            .review__col
              h2.review__title.title Что обо мне говорят
              .review__btn
                button(type="button").slider__arrow-btn.slider__arrow-btn--prev
                  +icon('arrow-down', 'slider__arrow-icon')
                button(type="button").slider__arrow-btn.slider__arrow-btn--next
                  +icon('arrow-down', 'slider__arrow-icon')
            .review__slider
              ul.review__slider-list
                - for (var i = 0; i < 2; i++)
                  li.review__slider-item
                    .reviews
                      .reviews__content
                        .reviews__description
                          p Этот парень проходил обучение веб-разработке не где-то, а в LoftShool! 4,5 месяца только самых тяжелыхиспытаний и бессоных ночей!
                        .reviews__info
                          .reviews__ava
                            .avatar.reviews__avatar
                              +image('content/user.jpg', 'avatar__img')
                          .reviews__data
                            .reviews__data-name Ковальчук Дмитрий
                            .reviews__data-subtitle Основатель LoftShool                  
        section.contacts(id="contacts")
          .container
            h2.contacts__title.title Связаться со мной
            form.form
              .form__row
                label.form__block
                  .form__block-label Введите ваше имя
                  .form__block-wrap
                    +icon('user','form__block-icon')
                    .form__block-field
                      input(placeholder="Иванов Иван").form__block-input
                label.form__block
                  .form__block-label Введите ваше email
                  .form__block-wrap
                    +icon('envelope','form__block-icon')
                    .form__block-field
                      input(placeholder="example@mail.com").form__block-input
              .form__row.form__row--more-margin
                label.form__block
                  .form__block-label Сообщение к письму
                  .form__block-wrap.form__block-wrap--align-top
                    +icon('message','form__block-icon')
                    .form__block-field
                      textarea(placeholder="Требуется ваша помощь в создании сайта. \nИнтересуют сроки и цена вопроса" rows="3").form__block-input.form__block-textarea
              .form__row
                .form__buttons
                  button(type="submit").custom-btn Отправить
      footer.footer
        .container.footer__container
          .footer__column
            .footer__copyright © 2020
            .footer__title
              h1.footer__title-by-line
                span Стерлин
                span Дмитрий
              a.footer__title-link(href='#')
                | Личный сайт
                br
                | веб-разработчика
          .footer__column.footer__column_flex-col
            .footer__nav
              nav.nav
                - var items = ["Главаная", "Обо мне", "Навыки", "Работы", "Отзывы", "Связаться"];
                  ul.nav__list
                    each item in items                
                      li.nav__item
                        a.nav__link(href='#') #{item}
            .footer__row
              .footer__column.footer__column_flex-col
                .footer__text Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
                  .footer__socials                
                    ul.socials__list
                      each item in icons
                        li.socials__item
                          a.socials__link(href='#')
                            +icon(item, "socials__icon")
              .footer__column.footer__column_flex-col
                .footer__text Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
                .footer__text-sig Martin Galding